name: "Deploy Release to PROD"

on:
  workflow_dispatch:
    inputs:
      release_number:
        description: "Version to Release (Ex: v1.0.0). Default is LATEST."
        required: false
        default: "LATEST"

jobs:
  call-mule-deploy-prod:
    uses: Narsing-s/apice-github-actions-common/.github/workflows/deploy_prod.yaml@v1.0.0
    secrets: inherit
    with:
      release_version: ${{ github.event.inputs.release_number }}
      repoName: "Narsing-s/bank-account-api"
      ref: "main"
      regions: "az_west=active,az_east=passive,az_westb=active"
      business_group_name: "Test"
      app_mule_environment: "sandbox"
      secrets_environment: "prod"
      api_name: "bank-account-api"
      root_context: "/common/Test/"
      api_type: "internal"
      cicd_enabled: "true"
      app_replicas: "2"
